VITE_SUPABASE_PROJECT_ID="xnuntkidfigvyxietcvd"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhudW50a2lkZmlndnl4aWV0Y3ZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzOTEzMDcsImV4cCI6MjA3NTk2NzMwN30.SPVRt6zgg3Ev7yiPARsH-8dfEtQNHNpM4wgEqxMA_IQ"
VITE_SUPABASE_URL="https://xnuntkidfigvyxietcvd.supabase.co"
VITE_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ueHpwcmR0bmR5anNxam1yeHl0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTE5NTkzMywiZXhwIjoyMDc2NzcxOTMzfQ.INqz_Mfwf1RUVS0VK-YRVW3KPr66gTBItHwwXTcIjLE"